<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <script type="text/javascript" src="../../../dist/main.js"></script>
  </head>

  <body>
    <header>
      <div class="main-heading">What the sentiment?</div>
    </header>

    <main>
      <section>
        <div>This website will analyse the sentiment of a given url using the meaningcloud sentiment APT. Please enter a fully qualified url and hit submit.</div>
      </section>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <input
            id="name"
            type="text"
            name="input"
            value=""
            onblur="onBlur()"
            placeholder="Name"
          />
          <input
            type="submit"
            name=""
            value="submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <section class="form_results">
        <label>URL: </label>
        <div id="results_div"></div>
        <label>Aggreement: </label>
        <div id="agreement_div"></div>
        <label>Confidence: </label>
        <div id="confidence_div"></div>
        <label>Irony: </label>
        <div id="irony_div"></div>
        <label>Sample Sentence: </label>
        <div id="sample_sentence_div"></div>
      </section>
    </main>

    <footer>
      <p>Website designed and created by Thomas Owen as part or the Udacity Nanodegree programme.</p>
    </footer>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
     </script>    
  </body>
</html>
